body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-header {
    padding: 20px;
    text-align: center;
    background-color: #444;
    width: 100%;
}

.sidebar .menu {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.sidebar .menu li {
    width: 100%;
}

.sidebar .menu li a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.sidebar .menu li a:hover {
    background-color: #555;
}

.main-content {
    flex-grow: 1;
    background-color: #f4f4f4;
    padding: 20px;
}

.header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
